html, body {
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
}
p{
    font-family:Roboto;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}



nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
.search-bar {
  display: block;
}

.video-preview {
  border: 1px solid;
}
.video-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:16px;
    row-gap:30px;
    
}
.thumbnail {
  width: 100%;
  margin-bottom:4px;
}
.info{
    display: grid;
    grid-template-columns: 50px 1fr;
}
    

.profile-pic{
    width:40px;
    border-radius:50%;
    margin-top:10px;
    margin-left:6px;
}
.video-title{
    font-size:15px;
    font-weight:500;
    line-height:20px;
}
.video-author,.video-stats{
    font-size:13px;
    color:rgb(40,40,40)
    
}
.video-author{
    margin-bottom:4px;
}
.video-stats{
    margin-top:4px;
}