

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}


.search-bar {
  display: block;
}

.video-preview {
  border: 1px solid;
}
.video-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:16px;
    row-gap:30px;
    
}
.thumbnail {
  width: 100%;
  margin-bottom:4px;
}
.info{
    display: grid;
    grid-template-columns: 50px 1fr;
}
    

.profile-pic{
    width:40px;
    border-radius:50%;
    margin-left:6px;
}
.video-title{
    font-size:15px;
    font-weight:500;
    line-height:20px;
    margin-bottom:10px;
}
.video-author,.video-stats{
    font-size:13px;
    color:rgb(40,40,40)
    
}
.video-author{
    margin-bottom:4px;
}
.video-stats{
    margin-top:4px;
}